*,::before,::after{margin: 0; box-sizing: border-box;}
a{text-decoration: none;}
label{ display: block;}
img{ vertical-align: bottom;}
button{ cursor: pointer; padding: 0; }
:disabled, input[type="text"]:read-only{ cursor: not-allowed;}
input:focus, textarea:focus{ outline: 1px dashed;}
iframe{ border: none;}
ul{ list-style: none; padding: 0;}

@font-face {
    font-family: proxima;
    src: url(../fonts/Proxima-Nova-Thin.woff2);
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: proxima;
    src: url(../fonts/proximanova-bold.woff2);
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: proxima;
    src: url(../fonts/proximanova-regular.woff2);
    font-weight: 400;
    font-display: swap;
}


html{ font-size: 15px;
     --red:#ca3c3c;
     --ff: proxima, sans-serif;
     scroll-behavior: smooth;
     scroll-padding-top: 80px;
     overflow-x: hidden;
}
body{font: 16px/1.2 var(--ff); }


.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}

.row{ display: flex; flex-flow: row wrap; margin: 0 -1rem;}
[class^="col-"]{ padding: 0 1rem; flex: 1 0 auto; }
.col-1{ flex-basis: 8.33%; max-width: 8.33%;}
.col-2{ flex-basis: 16.66%; max-width: 16.66%;}
.col-3{ flex-basis: 25%; max-width: 25%;}
.col-4{ flex-basis: 33.33%; max-width: 33.33%;}
.col-5{ flex-basis: 41.66%; max-width: 41.66%;}
.col-6{ flex-basis: 50%; max-width: 50%; }
.col-7{ flex-basis: 58.33%; max-width: 58.33%;}
.col-8{ flex-basis: 66.66%; max-width: 66.66%;}
.col-9{ flex-basis: 75%; max-width: 75%;}
.col-10{ flex-basis: 83.33%; max-width: 83.33%;}
.col-11{ flex-basis: 91.66%; max-width: 91.66%;}
.col-12{ flex-basis: 100%; max-width: 100%;}
.flex{ display: flex;}
.space-bet{ justify-content: space-between;}
.align-center{ align-items: center;}
.gap-r{ row-gap: 4rem;}

/* custom code */


header{ background: #000; color: #fff; position: sticky; top: 0; z-index: 1;}
h1{ font-size: 30px; }
header a{ color: inherit; line-height: 80px; display: inline-block;}
nav{ margin-left: -20px;}
nav li{ margin: 0 5px;}
nav a{ padding: 0 15px;}
.btn{ width: 90px; height: 35px; border: 2px solid; color: var(--red); background: none; border-radius: 10px; font: 16px var(--ff);}
.btn span{ display: block; height: 2px; background: var(--red); margin: 6px 10px; transition: .4s; transform-origin: right center; }
.menu{ display: none; position: absolute; right: 1rem; top: 20px; }
.signup{ color: #e64444;}


.banner{ background: #666; color: #fff; padding: 300px 0;}
.banner button{ background: none; border: none; color: #fff; font-size: 10rem; margin-right: 40px;}
.banner p{ font-size: 60px; font-weight: 100;}
.banner a{ color: #fff;}




.wrap-3{ background: var(--red); color: #fff; padding: 50px 0;}
h2{ font-size: 72px; line-height: 60px; border-bottom: 10px solid; margin-bottom: 30px;}
.circle{ border: 2px solid; width: 100px; flex-shrink: 0; aspect-ratio: 1/1; border-radius: 50%; display: grid; place-items: center; font-size: 36px; margin-right: 2rem;}
.wrap-3 h3{ font-size: 16px; line-height: 30px;}
.wrap-3 p{ font-size: 14px; font-weight: 100; line-height: 22px; }



.wrap-4{ background: #fff; color: var(--red); text-align: center; font-size: 36px; line-height: 10rem;}


.wrap-5{ background: #ebebeb; color: #363636; padding: 100px 0 140px;}
.wrap-5 .btn{ margin: 0 10px 60px 0; color: #992b2b; }
.wrap-5 .btn.active{ background: var(--red); color: #fff; border-color: var(--red); }
.work{ position: relative; margin-bottom: 2rem; overflow: hidden;}
.work img{ max-width: 100%; height: auto;}
.over{ position: absolute; padding: 20px 0; background: #fff; left: 0; right: 0; bottom: -50px; text-align: center; opacity: 0; transition: 400ms; visibility: hidden; }
.wrap-5 h3{ font-size: 18px; color: var(--red); line-height: 40px;}
.wrap-5 p{ font-size: 14px; color: #898989; font-weight: 100; line-height: 20px;}
.work:hover .over{ opacity: 1; visibility: visible; bottom: 0;}
.seemore{ font-size: 36px; color: var(--red); background: none; border: none;}




.wrap-6{ background: #666; color: #fff; padding: 4rem 0 2rem;}
.reviews{ text-align: center; }
/* .review{ display: none; }
.review.active{ display: block; } */
.review q{ font-size: 36px; line-height: 41px; font-weight: 100;}
.review figcaption{ font-weight: 700; font-size: 16px;}
.review img{ margin: 12px 0 10px;}
.pager{ display: flex; list-style: none; padding: 0; justify-content: center; margin-top: 2rem;}
.pager li{ margin: 0 5px;}
.pager a{ display: block; width: 10px; height: 10px; border: 2px solid #fff; border-radius: 50%; }
.pager a.active{ background: #fff;}
.wrap-6 .bx-wrapper{ background: none; border: none; box-shadow: 0 0;}
.wrap-6 .bx-wrapper img{ display: inline;}
.wrap-6 .bx-wrapper .bx-pager.bx-default-pager a{ border: 2px solid #fff;}
.wrap-6 .bx-wrapper .bx-pager.bx-default-pager a.active, .wrap-6 .bx-wrapper .bx-pager.bx-default-pager a:focus, .wrap-6 .bx-wrapper .bx-pager.bx-default-pager a:hover{ background: #fff;}



.wrap-7{ background: #fff; color: #363636; padding: 100px 0 140px;}
.team{ position: relative; margin-top: 80px; }
.social{ position: absolute; top: 60px; right: 60px;}
.social li{ margin-left: 10px;}
.social a{ font-size: 24px; display: block; background: var(--red); color: #fff; width: 50px; line-height: 50px; border-radius: 50%; text-align: center;}
.gap{ margin: 50px 0 30px 100px;}
.gap h3{ font-size: 18px; color: var(--red); line-height: 40px;}
.gap small{ font-size: 14px; font-weight: 100; color: #666;}
.gap p{ font-size: 14px; line-height: 22px; font-weight: 100; color: #363636; margin-top: 2rem;}



.wrap-8{ background: #666; color: #fff; padding: 85px 0 0 0; text-align: center;}
.wrap-8 span.fa{ font-size: 72px;}
.wrap-8 p{ font-size: 72px; font-weight: 100;}
.wrap-8 b{ font-size: 18px; display: inline-block; margin-bottom: 80px; }



.wrap-9{ background: #fff; color: #363636; padding: 100px 0;}
canvas{ background: lightblue; margin-top: 50px; max-width: 100%; }
.accordion{ margin-top: 50px;}
.accordion li{ margin-bottom: 10px;}
.accordion a{ display: block; color: #777; padding: 11px 19px; border: 1px solid #ebebeb; border-radius: 10px;}
.accordion a span.fa{ margin-right: 16px;}
.accordion p{ display: none; margin: 20px; color: #363636; font-size: 14px; font-weight: 100; line-height: 22px;}
.accordion li a.active{ color: var(--red); }
.accordion li:first-child p{ display: block; }
.accordion li a::after{ content: '+'; float: right;}
.accordion li a.active::after{ content: '-' }


.wrap-10{ background: var(--red); padding: 22px 0 23px;}
.wrap-10 input{ width: 370px; background: none; border: none; color: #fff; height: 35px; font: 100 36px var(--ff);}
.wrap-10 input::placeholder{ color: #fff;}
.wrap-10 .btn{ background: #fff;}


.wrap-11{ background: #7f7f7f; padding: 23px 0 0 0; }
.wrap-11 .box{ background: #666; color: #fff; line-height: 95px; text-align: center; margin-bottom: 22px; }


.wrap-12{ background: #ebebeb; color: #363636; padding: 100px 0;}
.wrap-12 address{ font-style: normal; color: #666; font-size: 16px; line-height: 30px; }
.social2 li{ margin: 20px 20px 20px 0;}
.social2 a{ display: block; color: var(--red);}
.wrap-12 label{ border: 2px solid; color: #363636; padding: 17px; margin: 15px 0; }
.wrap-12 :is(input,textarea){ background: none; border: none; }
.wrap-12 textarea{ resize: none; vertical-align: top; height: 42px; }
.wrap-12 button{ border: none; background: #fff; width: 100%; margin: 15px 0; height: 80px; color: var(--red); border-radius: 10px; font: 400 16px var(--ff); }
.wrap-12 button span.fa{ font-size: 36px; vertical-align: middle;}


.wrap-13{ background: #252525; color: #fff; text-align: center; padding: 50px 0;}
.wrap-13 button.fa{ background: none; border: none; color: var(--red); }


.overlay{ position: fixed; inset: 0; background: #000a; z-index: 10; }
.popup{ position: fixed; background: #fff; padding: 1rem; border-radius: 10px; z-index: 11; left: 50%; transform: translate(-50%); top: 100px; }
.popup form div{ margin: 1rem 0;}
.popup form div input{ float: right; margin-left: 10px;}
.close{ position: absolute; right: 10px; top: 10px; background: none; border: none; }


@media screen and (max-width:1220px){
    html{ font-size: 14px;}
    h2{ font-size: 62px;}
    .social{ right: 0;}
}

@media screen and (max-width:980px){
    .col-t-1{ flex-basis: 8.33%; max-width: 8.33%;}
    .col-t-2{ flex-basis: 16.66%;  max-width: 16.66%}
    .col-t-3{ flex-basis: 25%;  max-width: 25%}
    .col-t-4{ flex-basis: 33.33%;  max-width: 33.33%}
    .col-t-5{ flex-basis: 41.66%;  max-width: 41.66%}
    .col-t-6{ flex-basis: 50%;  max-width: 50%}
    .col-t-7{ flex-basis: 58.33%;  max-width: 58.33%}
    .col-t-8{ flex-basis: 66.66%;  max-width: 66.66%}
    .col-t-9{ flex-basis: 75%;  max-width: 75%}
    .col-t-10{ flex-basis: 83.33%;   max-width: 83.33%}
    .col-t-11{ flex-basis: 91.66%;  max-width: 91.66%}
    .col-t-12{ flex-basis: 100%;  max-width: 100%} 
    .col-t-hide{ display: none;}
    .col-t-auto{ flex-basis: 20%; max-width: 20%; }
    .banner p{ font-size: 35px;}
    .wrap-8 p{ font-size: 62px;}
}

@media screen and (max-width:767px){
    html{ font-size: 12px;}
    .col-m-6{ flex-basis: 50%; max-width: 50%;}
    .collapse{ position: absolute; background: #000; left: 0; right: 0; top: 60px; padding-bottom: 10px; display: none;}
    .menu{ display: inline-block}
    .menu.active span:nth-child(1){ transform: rotate(-14deg); }
    .menu.active span:nth-child(2){ opacity: 0; }
    .menu.active span:nth-child(3){ transform: rotate(14deg);}
    
    .wrap-5 .btn{ margin-right: 4px;}
    .wrap-8 p{ font-size: 52px;}
    .collapse .flex{ flex-flow: column wrap;}
    .collapse ul{ flex-flow: column wrap; }
    nav{ width: 100%; text-align: right;}
    header nav a{ display: block; line-height: 40px; }
}

@media screen and (max-width:460px){
    .col-p-4{ flex-basis: 33.33%; max-width: 33.33%;}
    .col-p-6{ flex-basis: 50%; max-width: 50%;}
    .col-p-12{ flex-basis: 100%; max-width: 100%;}
    .banner .flex{ flex-flow: column wrap; }
    .wrap-10 input{ width: 240px; font-size: 24px;}
    .col-t-auto{ flex-basis: 50%; max-width: 100%; }
    .popup form div input{ float: none;}
    .popup form div{ white-space: nowrap;}

}

